#article-nav {
  width: 100%;
  height: 2em;

  position: fixed;
  bottom: 0px;

  font-size: 22pt;

  > div {
    display: flex;
    align-items: center;

    padding-left: 0.25em;
    padding-right: 0.25em;

    background-color: var(--mobile-nav-bg);
  }

  > #article-view-controls {
    display: none;

    flex-direction: row;
    font-size: 18pt;
    height: 100%;

    padding-left: 1.125em;
    padding-right: 1.125em;

    > #article-font-sel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;

      height: calc(100% - 4em);

      width: 2.5em;

      .font-sel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        span {
          font-size: 36pt;
        }

        cursor: pointer;
        padding: 0.2em;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: var(--mobile-nav-hover-bg);
        }
      }
    }

    > #article-controls {
      margin-left: 1em;
      height: calc(100% - 4em);

      display: flex;
      flex-direction: column;
      align-items: center;

      .font-size-control {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 2.5em;
        gap: 0.33em;

        .button {
          margin-left: 0.25em;
          margin-right: 0.25em;
          padding: 0.25em;
          cursor: pointer;

          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: var(--mobile-nav-hover-bg);
          }
        }
      }
    }
  }

  > #article-navbar {
    height: 2em;

    > #return {
      height: 1.625em;
      width: 1.625em;
      min-width: 1.625em;
      min-height: 1.625em;
      cursor: pointer;

      > a {
        height: 100%;
        width: 100%;

        &:hover {
          background-color: unset;
        }

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    > span {
      margin-left: 0.25em;
      padding-right: 1.625em;
      overflow-x: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.expanded {
    height: 12em;
    display: flex;
    flex-direction: column;

    > #article-view-controls {
      flex: 1;
      display: flex;
      height: 100%;
    }
  }
}
