@import "../mixins.scss";

$modal-width: 820px;

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all 0.3s ease;

  top: 0;
  left: 0;

  display: none;
  align-items: center;
  justify-content: center;

  &.open {
    display: flex;
    opacity: 1;
    transition-delay: 0s;
    background-color: var(--modal-bg);
    backdrop-filter: blur(5px);
  }

  &-contents {
    width: $modal-width;
    height: ($modal-width * 9 / 16);
    max-width: 80%;

    background-color: var(--text-bg);
    padding: 0em;
    box-shadow: 2px 2px 6px var(--shadow);

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    > svg {
      font-family: 'Inria Sans';
      font-size: 14pt;
      width: 100%;
      height: 100%;
    }

    > h3 {
      margin: 0;
    }
  }
}
