@use "../mixins.scss" as *;
@use "../vars.scss"   as *;

div.hover-popup, div.hover-popup.sourceCode {
  position: absolute;
  z-index: 100;

  color:      theme(--code-fg);
  background: theme(--code-bg);

  --font-size:      1.125rem;
  --code-font-size: 1rem;

  box-shadow: 2px 2px 6px theme(--shadow);

  padding: 0.3em;
  border: 0;
  margin: 0;

  >:first-child { margin-block-start: 0; }
  >:last-child  { margin-block-end: 0; }

  &:before            { display: none; }
  &.popup-hidden      { display: none; }
  @include widescreen { display: block; }
}

.text-popup {
  @include shrink;

  min-width: $text-popup-width;
  max-width: #{$text-popup-width * $text-popup-grow};
  width: fit-content;

  margin-left: 1.25em;
}

@mixin keyframes-for($dir, $dy) {
  @keyframes popup-fade-in-#{$dir} {
    0% {
      opacity: 0;
      transform: translate(0, $dy);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes popup-fade-out-#{$dir} {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, $dy);
    }
  }

  .popup-fade-in-#{$dir}  { animation: 0.3s popup-fade-in-#{$dir}; }
  .popup-fade-out-#{$dir} { animation: 0.3s popup-fade-out-#{$dir}; }
}

@include keyframes-for(up,    10px);
@include keyframes-for(down, -10px);
