div.profile {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1em;

  &.pfp-left {
    grid-template-columns: calc(128px + 2em) 1fr;
    grid-template-areas: "pfp profile";
  }
  &.pfp-right {
    grid-template-columns: 1fr calc(128px + 2em);
    grid-template-areas: "profile pfp";
  }

  border-top: 2px solid #444;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .profile-pfp {
    grid-column: pfp;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .profile-profile {
    grid-column: profile;
    grid-row: 1;
  }

  .profile-pfp p {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 20%;

    img {
      width: 128px;
      height: 128px;
      clip-path: url(#squircle);
      margin-bottom: 0.25em;
    }

    p {
      margin: 0;
    }

    .profile-name {
      font-size: 19pt;
    }
    .profile-pronouns {
      font-style: italic;
    }
  }
}

.author-list {
  margin-top: 0.5em;
  white-space: initial;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}
