.search-form > input {
  box-sizing: border-box;
  font-size: 0.55em;
  padding: 0.5em;
  margin: 0 0 1em 0;
  width: 100%;
}

#search-wrapper > .modal-contents {
  align-items: stretch;
  text-align: left;
}

#search-results {
  flex-grow: 1;
  overflow-y: auto;

  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
    }
  }
}

a.search-result {
  padding: 0.5em;
  padding-right: 0.75em;
  display: block;
  text-decoration: none;

  &, &:focus, &:visited, &:active {
    font-weight: inherit;
    color: inherit;
  }

  &:hover, &:focus {
    background-color: $bluegray-200;
  }

  li.active > & {
    border-left: 5px solid $bluegray-600;
  }

  & h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1em;
  }

  > .search-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .search-module {
      margin-left: 0.5em;
      font-size: 0.7em;
      color: $bluegray-800;
      font-style: italic;
    }
  }

  & .search-type {
    font-size: 0.65em;
  }

  & .search-match {
    text-decoration: 2px $code-blue underline;
  }
}

.search-error {
  padding: 0.5em;

  color: $red-900;
  background: $red-300;
}
