#search-wrapper .modal-contents {
  align-items: stretch;
  text-align: left;

  font-family: var(--sans-serif);
  --font-size: 1.2rem;
}

#search-results {
  flex-grow: 1;
  overflow-y: auto;

  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input#search-box {
  width:     100%;
  font-size: 100%;
  border:    none;

  color:            theme(--text-fg);
  caret-color:      theme(--search-selected);
  background-color: theme(--text-bg);

  padding-inline: 1.5em;
  padding-block: 1em;

  box-sizing: border-box;
  width: 100%;

  &:focus {
    outline: none;
  }
}

a.search-result {
  padding-block: 0.1em;
  padding-inline: 0.75em;

  margin: 0.3em 0;
  display: block;
  text-decoration: none;

  border-left: 3px solid theme(--text-bg);

  &, &:focus, &:visited, &:active {
    font-weight: inherit;
    color: inherit;
  }

  &:focus, li.active > & {
    border-left: 3px solid theme(--search-selected);
  }

  &:hover {
    cursor: pointer;
  }

  h3 {
    margin: 0;
    font-size: 0.85em;
    font-weight: bold;

    span.search-module {
      font-weight: normal;
    }

    &.search-identifier {
      @include monospaced;
      // our mono font is bulkier than our sans font so it needs a
      // smaller size to look comparable
      font-size: 0.75em;
      margin-bottom: 5px;
    }
  }

  > p {
    margin: 0;
  }

  > .search-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .search-module {
      margin-left: 0.5em;
      font-size: 0.7em;
      color: theme(--text-fg-alt);
      font-style: italic;
    }

    span.search-match-key {
      padding-left: 1em;
      font-size: 0.8em;
      @include monospaced;
    }
  }

  & .search-type { font-size: 0.55em; }
  & .search-desc { font-size: 0.75em; }

  & .search-match {
    text-decoration: 2px theme(--primary) underline;
  }
}

li.search-header {
  font-size: 0.8em;

  padding-block:  0.3em;
  padding-inline: 0.75em;
}

.search-error {
  padding: 0.5em;

  color: $red-900;
  background: $red-300;
}
