.DS_Store

# Canonical location for work-in-progress stuff
wip/

# I send people so many of these
/*.patch

# Developer configuration
/Makefile
/.vscode
/.envrc
/.direnv
.ghci
hie.yaml
/*.sh

# Build output
/html
/_build*
/result*
/node_modules
/dist-*
/stack.yaml.lock
/.stack-work
.shake
*.agdai
*.hi
*.o
*.hi-boot
*.o-boot
/rubtmp*
.sass-cache

## Build system performance stuff
*.eventlog*
*.prof
*.hp
# Shake profiling reports
/*.html

# LaTeX stuff that occasionally gets generated
*.log
*.synctex.gz
*.aux
*.fls
*.pdf
*.fdb_latexmk
