@import "vars.scss";
@import "mixins.scss";
@import "components/modal.scss";
@import "components/search.scss";
@import "components/unfolded-footnote.scss";

@import "code.scss";

html {
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;

  overflow-x: clip;

  background-color: #fff;
  color:            $code-fg;
}

:root {
  --serif: "EB Garamond", "Times New Roman", "serif";
  --font-size: 22pt;
  --code-font-size: 18pt;
}

body {
  font-family: var(--serif), "Inria Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &.sans-serif {
    --serif: "";
    --font-size: 18pt;
    --code-font-size: var(--font-size);
  }

  width: 100%;

  font-size: var(--font-size);
  overflow-x: clip;

  background-color: $text-bg;
  color: $text-fg;

  &.text-page {
    @include centered-contents;
    margin: 0;
  }

  &.show-equations {
    span.reasoning-step {
      .as-written {
        display: inline;
      }
      .alternate {
        display: none;
      }
    }
  }

  span.reasoning-step {
    .as-written {
      display: none;
    }
    .alternate {
      display: inline;
    }
  }

  .footnote-back {
    padding-left: 0.5em;
  }
}

@mixin left-bordered-block($color) {
  padding-left:   1em;
  padding-top:    0.2em;
  padding-bottom: 0.2em;

  border-left: 5px dashed $color;
}

main {
  max-width: 100ch;
  width: 100%;
  margin: 0px auto 0px auto;
  flex: 1 0 auto;

  padding: 2ch;
  padding-top: $nav-height;

  box-sizing: border-box;

  div#post-toc-container {
    aside#toc {
      display: none;
      a[href].header-link span {
        display: none;
      }
    }

    article {
      grid-column: 2;
      line-height: 1.2;

      a[href].header-link {
        color: black;
        cursor: default;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &:hover {
          text-decoration: none !important;
          background-color: white !important;
          span {
            display: inline-block;
          }
        }

        &.hover-highlight {
          background-color: white !important;
        }

        span {
          display: none;
          font-size: 12pt;
          margin-left: 1em;
          cursor: pointer;
        }
      }
    }

  }

  div#post-info {
    font-style: italic;
    line-height: 1.2;

    @include left-bordered-block($bluegray-500);
  }
}

div.warning {
  @include material;
  background-color: $yellow-200;
}

div.asides {
  * {
    margin: 0;
  }
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

figure.wraparound {
  float: right;
  width: auto;

  margin-left: 2em;
}

figure {
  overflow-x: auto;
  overflow-y: clip;
  margin: auto;

  @include centered-contents;

  figcaption {
    margin-top: 0.3em;
    display: inline-block;
  }

  p {
    margin: 0;
  }
}

ol, ul {
  padding-left: 1.2em;
  li {
    margin-top: 5px;
    margin-bottom: 5px;
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

span.katex {
  font-size: inherit;
  line-height: inherit;
}

span.abbrev {
  text-decoration: 2px dotted underline;
}

.katex-display {
  > span.katex {
    white-space: normal;
  }
}

div.mathpar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;


  gap: 1em;

  > figure {
    max-width: 33%;
    padding: 0.75em;
    width: auto !important;
  }

  .diagram-container {
    width: unset;
  }
}

div.columns {
  blockquote, details.blockquote {
    padding-right:  1em;
    padding-left:   1em;
    padding-top:    0.2em;
    padding-bottom: 0.2em;

    border: 0;
  }
}

p > code {
  white-space: nowrap;
  font-size: var(--code-font-size);
}

blockquote, details.blockquote {
  @include material;

  background-color: $purple-100;

  margin-left: 0;
  margin-right: 0;

  h2 {
    margin-top: 0;
  }
}

table {
  margin: auto;
  border-collapse: collapse;

  td, th {
    text-align: center;
    padding: 0px 1em 0px 1em;
  }
}

@media only screen and (max-width: 450px) {
  body > header {
    div#logo {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .narrow-only {
    display: none !important;
  }

  main {
    max-width: 100%;

    div#post-toc-container {
      display: grid;
      grid-template-columns: 0.5fr 2fr 0.5fr;

      aside#toc {
        display: block !important;
        margin-right: 1em;

        h3 { @include centered-contents; }

        div#toc-container {
          box-sizing: border-box;
          overflow-x: hidden;
          position: sticky;
          top: 2em;

          overflow-y: auto;
          max-height: 90vh;

          bottom: 2em;

          padding-right: 1em;
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          width: 100%;

          a[href]#logo.hover-highlight {
            background-color: unset;
          }

          > hr {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
            width: 100%;
            border: none;
            border-bottom: 2px solid #94a3b8;
          }

          > svg {
            font-family: 'Inria Sans';
            min-height: 150px;
            aspect-ratio: 1 / 1;
            font-size: 14pt;
          }

          button {
            display: none;
          }

          ul {
            border-left: 2px solid $bluegray-400;
            list-style-type: none;
            padding-left: 1em;
            margin-top: 0;
            margin-bottom: 0;

            a {
              text-decoration: none;
            }

            a:hover {
              text-decoration: underline;
            }
          }
        }
      }

      article {
        max-width: 100ch;
        margin-top: -100px;
        margin: auto;
      }
    }

    div.columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    padding: 0;
    padding-bottom: 0.4em;
  }
}

details {
  margin-top: 1em;
  margin-bottom: 1em;

}

details:not(.text) {
  border-left: 5px solid $cyan-500;
  padding-left: 1em;
}

details.text {
  border: 3px solid $cyan-100;
  transition: border 0.3s ease-in-out;

  > summary {
    list-style-type: none;
    background-color: $cyan-100;

    border-left: 1em solid $cyan-100;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 1em;

    transition: background-color 0.3s ease-in-out, border-left 0.3s ease-in-out;

    cursor: pointer;

    &:hover::after {
      text-decoration: underline;
    }

    &::after {
      content: 'read more';
      font-style: italic;
      margin-left: 0.223em;
      color: black;
    }

    > :nth-child(1) {
      margin-top: 0;
    }
  }

  &[open] {
    border: 3px solid $cyan-200;
    summary {
      border-left: 1em solid $cyan-200;
      background-color: $cyan-200;
      &::after {
        content: 'read less';
      }
    }
  }

  &:not([open]) {
    &:hover {
      border: 3px solid $cyan-200;
    }
    summary:hover {
      border-left: 1em solid $cyan-200;
      background-color: $cyan-200;

      &::after {
        text-decoration: underline;
      }
    }
  }

  >*:not(summary) {
    margin-left: 1em;
    margin-right: 1em;
  }
}


div.profile {
  &.pfp-left {
    flex-direction: row;
  }
  &.pfp-right {
    flex-direction: row-reverse;
  }

  border-top: 2px solid #444;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  gap: 1em;

  .profile-pfp {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .profile-pfp p {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 20%;

    img {
      width: 128px;
      height: 128px;
      clip-path: url(#squircle);
      margin-bottom: 0.25em;
    }

    p {
      margin: 0;
    }

    .profile-name {
      font-size: 19pt;
    }
    .profile-pronouns {
      font-style: italic;
    }
  }
}

.author-list {
  margin-top: 0.5em;
  white-space: initial;
  font-size: 0.8em;
  font-style: italic;
}

.smallcaps {
  font-variant: small-caps;
}

div.diagram-container {
  width: 100%;
  overflow-x: auto;

  margin-top: 1em;
  margin-bottom: 1em;

  img.diagram {
    height: 200px;
    margin: auto;
    display: block;

    overflow-x: auto;

    &.short-05 {
      height: 150px;
    }

    &.short-1 {
      height: 105px;
    }

    &.short-15 {
      height: 80px;
    }

    &.short-2 {
      height: 55px;
    }

    &.tall-1 {
      height: 250px;
    }

    &.tall-2 {
      height: 350px;
    }
  }
}

article a[href], div#return > a[href], div#top > a[href], aside#toc > div#toc-container ul a[href] {
  color: $code-blue;
  text-decoration: none;
  &:hover {
    text-decoration: 2px currentColor underline !important;
  }
  &:visited {
    color: $code-purple;
  }
}

div#return {
  text-align: center;
}

article {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 0 !important;
  max-width: 100%;

  > :nth-child(1), > pre.Agda:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }

  #article-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  > p {
    width: 100%;
  }

  > figure > figcaption {
    text-align: center;
    font-style: italic;
  }
}

hr {
  color: #ABB2BF;
  margin-top: 1em;
  margin-bottom: 1em;
}

span.qed {
  float: right;
}
