@import "vars.scss";
@import "mixins.scss";
@import "theme.scss";

@import "components/sidenotes.scss";
@import "components/controls.scss";
@import "components/profile.scss";
@import "components/commit.scss";
@import "components/search.scss";
@import "components/modal.scss";
@import "components/toc.scss";

@import "code.scss";

html {
  height: 100%;
  margin: 0;

  background-color: theme(--text-bg);
  color:            theme(--text-fg);
}

html, body, main, div#post-toc-container {
  min-height: 100vh;
  max-width: 100vw;
}

:root {
  --serif: "EB Garamond", "Times New Roman", "serif";
  --sans-serif: "Inria Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-size: 1.4rem;
  --code-font-size: calc(0.85 * var(--font-size));

  --sidenote-separation: 2em;

  &.sans-serif {
    --serif: "";
    --font-size: 1.3rem;
    --code-font-size: calc(0.92 * var(--font-size));
  }

  &.show-equations span.reasoning-step {
    .as-written {
      display: inline;
    }
    .alternate {
      display: none;
    }
  }

  &.show-hidden-code .commented-out {
    display: revert;
  }

  &.justified {
    text-align: justify;
    hyphens: auto;
  }
}

body {
  font-family: var(--serif), var(--sans-serif);
  font-size: var(--font-size);

  width: 100%;

  &.text-page {
    @include centered-contents;
    margin: 0;
  }

  span.reasoning-step {
    .as-written {
      display: none;
    }
    .alternate {
      display: inline;
    }
  }

  .footnote-back {
    padding-left: 0.5em;
  }
}

main {
  max-width: 80rem;
  width: 100%;
  margin: 0px auto 0px auto;
  flex: 1 0 auto;

  padding-inline: 0.75em;
  @include widescreen { padding: 0; }

  box-sizing: border-box;
}

@include highlight(warning,     theme(--warning-bg),     theme(--warning-icon));
@include highlight(note,        theme(--note-bg),        theme(--note-icon));
@include highlight(terminology, theme(--terminology-bg), theme(--terminology-icon));
@include highlight(source,      theme(--source-bg),      theme(--source-icon));

figure {
  overflow-x: auto;
  overflow-y: clip;

  @include centered-contents;

  figcaption {
    margin-top: 0.3em;
    display: inline-block;
  }

  p {
    margin: 0;
  }
}

ol, ul {
  padding-left: 1.2em;
  li {
    margin-block: 5px;
    p {
      margin-block: 10px;
    }
  }
}

span.katex {
  font-size: inherit;
  line-height: inherit;

  span.mord.text > span.mord.textrm {
    font-family: var(--serif), var(--sans-serif);
  }
}

span.abbrev {
  text-decoration: 2px dotted underline;
}

span.katex-display {
  overflow-x: auto;
  overflow-y: clip;

  // KaTeX is really bad at coming up with a bounding box for the entire
  // span which includes all the superscripts. For example, try rendering
  //
  //    \mathcal{C} \xrightarrow{X} \mathrm{PSh}(\mathcal{C})
  //
  // in the demo on katex.org, then inspect the enclosing
  // span.katex-display and add overflow-x: auto; to the element styles
  // At the time of writing (2024-02-17), the top serifs of the X get
  // basically entirely clipped.
  //
  // The solution is to position display maths closer to the elements
  // around it on the block axis, and to make up with *padding* instead.
  // Padding the bounding box by 0.5em; is slightly absurd, but it does
  // guarantee that we won't have clipping issues unless KaTeX well and
  // truly screws up the character metrics.

  margin-block: -0.25em;

  > span.katex {
    white-space: normal;
    padding-block: 0.5em;
  }
}

div.mathpar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  gap: 1em;

  > figure {
    max-width: 33%;
    padding: 0.75em;
    width: auto !important;
  }

  .diagram-container {
    width: unset;
  }
}

div.columns {
  blockquote, details.blockquote {
    padding-inline: 1em;
    padding-block:  0.2em;

    border: 0;
  }
}

p > code, summary > code {
  white-space: nowrap;
  font-size: calc(0.9 * var(--code-font-size));
}

blockquote, details.blockquote {
  @include material(theme(--blockquote-bg));

  margin-left: 0;
  margin-right: 0;

  h2 {
    margin-top: 0;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  td, th {
    text-align: center;
    padding-inline: 1em;
  }
}

details {
  @include left-bordered(theme(--note-bg));

  margin-block: 1em;

  > summary {
    list-style-type: none;

    cursor: pointer;

    &:hover::after {
      text-decoration: underline;
    }

    &::after {
      content: 'read\A0more';
      font-style: italic;
      margin-left: 0.223em;
      color: theme(--text-fg);
    }

    > :nth-child(1) {
      margin-top: 0;
    }
  }

  &[open] {
    summary {
      &::after {
        content: 'read\A0less';
      }
      margin-bottom: 0.3em;
    }
  }

  :nth-child(2) { margin-block-start: 0; }
  :last-child { margin-block-start: 0; }
}

.commented-out {
  display: none;
  opacity: 0.6;
}

.commented-out > pre.Agda {
  margin-block: 1em;
}

.commented-out.first-comment > pre.Agda {
  margin-top: 0;
}

.smallcaps {
  font-variant: small-caps;
}

div.diagram-container {
  width: 100%;
  overflow-x: auto;

  margin-block: 1em;

  img.diagram {
    margin: auto;
    display: block;

    overflow-x: auto;
  }
}

main a[href], div#return > a[href], div#top > a[href], aside#toc > div#toc-container ul a[href] {
  color: theme(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: 2px currentColor underline !important;
  }

  &:visited { color: theme(--secondary); }
}

div#return {
  text-align: center;
}

article {
  padding-top:    $page-padding;
  padding-bottom: calc($page-padding / 2);
  margin-top: 0 !important;
  max-width: 100%;
  line-height: 1.2;

  counter-reset: footnote-counter;

  > :nth-child(1), > pre.Agda:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }

  #article-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  > p {
    width: 100%;
  }

  > figure > figcaption {
    text-align: center;
    font-style: italic;
  }

  a[href].header-link {
    color: theme(--text-fg);
    cursor: default;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &:hover {
      text-decoration: none !important;
      background-color: theme(--text-bg) !important;
      span.header-link-emoji {
        display: inline-block;
      }
    }

    &.hover-highlight {
      background-color: theme(--text-bg) !important;
    }

    span.header-link-emoji {
      display: none;
      font-size: 12pt;
      margin-left: 1em;
      cursor: pointer;
    }
  }
}

hr {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: none;

  content: ' ';
  width: 100%;

  height: $ruler-size;
  background-color: theme(--ruler);
}

span.qed {
  float: right;
}

span.shaded {
  background-color: theme(--diagram-shaded-bg);
}

/* The \liesover{} macro: It's awful and I hate it. The \liesover{} arrow
 * is just hspace --- KaTeX needs to know the actual size of the thing,
 * so we let *it* control the sizing --- and here, we draw an arrow over
 * it; An arrow with #000 stroke in light theme and #ABB2BF stroke in
 * dark theme. */
span.enclosing.liesover {
  background: url('../static/lies-over-light.svg') no-repeat;
  background-size: contain;
  background-position: center center;
}


input {
  background-color: theme(--input-bg);
  border: 1px solid theme(--input-border);
  color:  theme(--text-fg);
  border-radius: 3px;
}

kbd {
  border:  1px solid theme(--input-border);
  padding: 2px;
  border-radius: 5px;

  background-color: theme(--input-bg);
  font-size: calc(0.75 * var(--code-font-size));

  vertical-align: middle;
}

#post-toc-container { min-height: 90vh; }

@media only screen and (max-width: 450px) {
  body > header {
    div#logo {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}


@include widescreen {
  .narrow-only {
    display: none !important;
  }

  main {
    max-width: 100%;

    div#post-toc-container {
      display: grid;

      grid-template-areas: ". sidebar . content gutter .";

      // The 0 minimum is required to avoid overflow, see
      // https://css-tricks.com/preventing-a-grid-blowout/
      grid-template-columns: 0.1fr 1fr 0.1fr minmax(0, 3fr) 1fr 0.2fr;

      article {
        grid-column: content;
      }

      aside#sidenote-container {
        grid-column: gutter;
        margin-left: var(--sidenote-separation);
      }
    }

    div.columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }
  }
}
