@import "vars.scss";
@import "mixins.scss";
@import "theme.scss";

@import "components/modal.scss";
@import "components/search.scss";
@import "components/unfolded-footnote.scss";
@import "components/controls.scss";

@import "code.scss";

html {
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;

  background-color: var(--text-bg);
  color:            var(--text-fg);
}

:root {
  --serif: "EB Garamond", "Times New Roman", "serif";
  --sans-serif: "Inria Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-size: 1.4rem;
  --code-font-size: calc(0.85 * var(--font-size));

  &.sans-serif {
    --serif: "";
    --font-size: 1.3rem;
    --code-font-size: calc(0.92 * var(--font-size));
  }

  &.show-equations span.reasoning-step {
    .as-written {
      display: inline;
    }
    .alternate {
      display: none;
    }
  }

  &.show-hidden-code .commented-out {
    display: revert;
  }
}

body {
  font-family: var(--serif), var(--sans-serif);

  width: 100%;

  font-size: var(--font-size);

  &.text-page {
    @include centered-contents;
    margin: 0;
  }

  span.reasoning-step {
    .as-written {
      display: none;
    }
    .alternate {
      display: inline;
    }
  }

  .footnote-back {
    padding-left: 0.5em;
  }
}

main {
  max-width: 80rem;
  width: 100%;
  margin: 0px auto 0px auto;
  flex: 1 0 auto;

  box-sizing: border-box;

  div#post-toc-container {
    aside {
      display: none;
      a[href].header-link {
        span.header-link-emoji {
          display: none;
        }
      }
    }

    article {
      line-height: 1.2;

      a[href].header-link {
        color: var(--text-fg);
        cursor: default;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &:hover {
          text-decoration: none !important;
          background-color: var(--text-bg) !important;
          span.header-link-emoji {
            display: inline-block;
          }
        }

        &.hover-highlight {
          background-color: var(--text-bg) !important;
        }

        span.header-link-emoji {
          display: none;
          font-size: 12pt;
          margin-left: 1em;
          cursor: pointer;
        }
      }
    }

  }
}

@include highlight(warning,        var(--warning-bg),     var(--warning-icon));
@include highlight(note,           var(--note-bg),        var(--note-icon));
@include highlight(terminology,    var(--terminology-bg), var(--terminology-icon));

div.asides {
  * {
    margin: 0;
  }
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

figure.wraparound {
  float: right;
  width: auto;

  margin-left: 2em;
}

figure {
  overflow-x: auto;
  overflow-y: clip;
  margin: auto;

  @include centered-contents;

  figcaption {
    margin-top: 0.3em;
    display: inline-block;
  }

  p {
    margin: 0;
  }
}

ol, ul {
  padding-left: 1.2em;
  li {
    margin-top: 5px;
    margin-bottom: 5px;
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

span.katex {
  font-size: inherit;
  line-height: inherit;
}

span.abbrev {
  text-decoration: 2px dotted underline;
}

.katex-display {
  > span.katex {
    white-space: normal;
  }
}

div.mathpar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  gap: 1em;

  > figure {
    max-width: 33%;
    padding: 0.75em;
    width: auto !important;
  }

  .diagram-container {
    width: unset;
  }
}

div.columns {
  blockquote, details.blockquote {
    padding-right:  1em;
    padding-left:   1em;
    padding-top:    0.2em;
    padding-bottom: 0.2em;

    border: 0;
  }
}

p > code, summary > code {
  white-space: nowrap;
  font-size: calc(0.9 * var(--code-font-size));
}

blockquote, details.blockquote {
  @include material(var(--blockquote-bg));

  margin-left: 0;
  margin-right: 0;

  h2 {
    margin-top: 0;
  }
}

table {
  margin: auto;
  border-collapse: collapse;

  td, th {
    text-align: center;
    padding: 0px 1em 0px 1em;
  }
}

@media only screen and (max-width: 450px) {
  body > header {
    div#logo {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 95rem) {
  .narrow-only {
    display: none !important;
  }

  main {
    max-width: 100%;

    div#post-toc-container {
      display: grid;

      // The 0 minimum is required to avoid overflow, see https://css-tricks.com/preventing-a-grid-blowout/
      grid-template-columns: 1fr minmax(0, 4fr) 1fr;

      aside {
        display: block !important;
      }

      aside {
        margin-right: 1rem;

        h3 { @include centered-contents; }

        font-family: var(--sans-serif);
        --font-size: 1.3rem;
        --code-font-size: calc(0.92 * var(--font-size));

        div#toc-container {
          box-sizing: border-box;
          overflow-x: hidden;
          position: sticky;
          top: $page-padding;

          overflow-y: auto;
          max-height: 90vh;

          bottom: $page-padding;

          padding-right: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 100%;

          a[href]#logo.hover-highlight {
            background-color: unset;
          }

          a[href].header-link {
            &, &:visited {
              color: var(--primary)
            };

            &.current-heading {
              font-weight: bold;
              color: var(--text-fg);
            }
          }

          > hr {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            width: 100%;
            border: none;
            border-bottom: 2px solid #94a3b8;
          }

          > svg {
            font-family: 'Inria Sans';
            min-height: 150px;
            aspect-ratio: 1 / 1;
            font-size: 14pt;
          }

          button {
            display: none;
          }

          ul {
            border-left: 2px solid $bluegray-400;
            list-style-type: none;
            padding-left: 1em;
            margin-top: 0;
            margin-bottom: 0;

            a {
              text-decoration: none;
            }

            a:hover {
              text-decoration: underline;
            }
          }
        }
      }

      article {
        margin-top: -100px;
        margin: auto;
      }
    }

    div.columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    padding: 0;
    padding-bottom: 0.4em;
  }
}

details {
  margin-block: 1em;
  border-left: 5px solid var(--note-bg);
  padding-left: 1rem;

  @include contains-code();

  > summary {
    list-style-type: none;
    padding: 0.25em 0em 0.25em 0em;

    cursor: pointer;

    &:hover::after {
      text-decoration: underline;
    }

    &::after {
      content: 'read more';
      font-style: italic;
      margin-left: 0.223em;
      color: var(--text-fg);
    }

    > :nth-child(1) {
      margin-top: 0;
    }
  }

  &[open] {
    summary {
      &::after {
        content: 'read less';
      }
      margin-bottom: 0.3em;
    }
  }

  >*:not(summary) {
    margin-left: 1em;
    margin-right: 1em;
  }

  > :nth-child(1) { margin-block-start: 0; }
  > :nth-last-child(1) { margin-block-start: 0; }
}

.commented-out {
  display: none;
  opacity: 0.6;
}

.commented-out > pre.Agda {
  margin-top:    1em;
  margin-bottom: 1em;
}

.commented-out.first-comment > pre.Agda {
  margin-top: 0;
}

div.profile {
  &.pfp-left {
    flex-direction: row;
  }
  &.pfp-right {
    flex-direction: row-reverse;
  }

  border-top: 2px solid #444;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  gap: 1em;

  .profile-pfp {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .profile-pfp p {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 20%;

    img {
      width: 128px;
      height: 128px;
      clip-path: url(#squircle);
      margin-bottom: 0.25em;
    }

    p {
      margin: 0;
    }

    .profile-name {
      font-size: 19pt;
    }
    .profile-pronouns {
      font-style: italic;
    }
  }
}

.author-list {
  margin-top: 0.5em;
  white-space: initial;
  font-size: 0.8em;
  font-style: italic;
}

.smallcaps {
  font-variant: small-caps;
}

div.diagram-container {
  width: 100%;
  overflow-x: auto;

  margin-top: 1em;
  margin-bottom: 1em;

  img.diagram {
    height: 200px;
    margin: auto;
    display: block;

    overflow-x: auto;

    &.short-05 {
      height: 150px;
    }

    &.short-1 {
      height: 105px;
    }

    &.short-15 {
      height: 80px;
    }

    &.short-2 {
      height: 55px;
    }

    &.tall-1 {
      height: 250px;
    }

    &.tall-15 {
      height: 300px;
    }

    &.tall-2 {
      height: 350px;
    }
  }
}

article a[href], div#return > a[href], div#top > a[href], aside#toc > div#toc-container ul a[href] {
  color: var(--primary);
  text-decoration: none;
  &:hover {
    text-decoration: 2px currentColor underline !important;
  }
  &:visited {
    color: var(--secondary);
  }
}

div#return {
  text-align: center;
}

article {
  padding-top: $page-padding;
  padding-bottom: $page-padding;
  margin-top: 0 !important;
  max-width: 100%;

  > :nth-child(1), > pre.Agda:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }

  #article-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  > p {
    width: 100%;
  }

  > figure > figcaption {
    text-align: center;
    font-style: italic;
  }
}

hr {
  color: #ABB2BF;
  margin-top: 1em;
  margin-bottom: 1em;
}

span.qed {
  float: right;
}

span.shaded {
  background-color: var(--diagram-shaded-bg);
}

/* The \liesover{} macro: It's awful and I hate it. The \liesover{} arrow
 * is just hspace --- KaTeX needs to know the actual size of the thing,
 * so we let *it* control the sizing --- and here, we draw an arrow over
 * it; An arrow with #000 stroke in light theme and #ABB2BF stroke in
 * dark theme. */
span.enclosing.liesover {
  background: url('../static/lies-over-light.svg') no-repeat;
  background-size: contain;
  background-position: center center;
}

@media (prefers-color-scheme: dark) {
  span.enclosing.liesover {
    background: url('../static/lies-over-dark.svg') no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color:  var(--text-fg);
  border-radius: 3px;
}

#post-toc-container { min-height: 90vh; }
