@mixin left-bordered($bg) {
  border-inline-start:  $left-border-width solid $bg;
  padding-inline-start: $left-border-distance;

  @include widescreen {
    position: relative;

    border-inline-start:  unset;
    padding-inline-start: unset;

    &:before {
      content: " ";
      background-color: $bg;

      height: 100%;
      width: $left-border-width;

      position: absolute;
      left: calc(-1 * #{$left-border-distance} - #{$left-border-width});
    }
  }
}

@mixin material($bg) {
  @include left-bordered($bg);
  box-sizing: border-box;

  >:nth-child(1) { margin-block-start: 0; }
  >:nth-last-child(1) { margin-block-end: 0; }

  margin-block: 1em;
}

@mixin highlight($name, $bg, $icon) {
  div.#{$name}, span.#{$name}, details.#{$name} {
    .highlight-icon {
      fill: $icon;
      color: $icon;

      display: flex;
      gap: 0.5em;
      align-items: center;
      margin-bottom: 0.3em;
    }
  }

  div.#{$name}, details.#{$name} {
    @include material($bg);
  }
}

@mixin centered-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin monospaced {
  font-family: 'Julia Mono', 'Iosevka', 'Fantasque Sans Mono', 'Roboto Mono', monospace;
  font-weight: 500;
  font-size:   var(--code-font-size);

  font-variant-ligatures: none;
}

@mixin widescreen {
  @media only screen and (min-width: $desktop-layout-width) {
    @content;
  }
}
