$purple-50:  #faf5ff;
$purple-100: #f3e8ff;
$purple-200: #e9d5ff;
$purple-300: #d8b4fe;
$purple-400: #c084fc;
$purple-500: #a855f7;
$purple-600: #9333ea;
$purple-700: #7e22ce;
$purple-800: #6b21a8;
$purple-900: #581c87;

$violet-50:  #f5f3ff;
$violet-100: #ede9fe;
$violet-200: #ddd6fe;
$violet-300: #c4b5fd;
$violet-400: #a78bfa;
$violet-500: #8b5cf6;
$violet-600: #7c3aed;
$violet-700: #6d28d9;
$violet-800: #5b21b6;
$violet-900: #4c1d95;

$yellow-50:  #fefce8;
$yellow-100: #fef9c3;
$yellow-200: #fef08a;
$yellow-300: #fde047;
$yellow-400: #facc15;
$yellow-500: #eab308;
$yellow-600: #ca8a04;
$yellow-700: #a16207;
$yellow-800: #854d0e;
$yellow-900: #713f12;

$bluegray-50:  #f8fafc;
$bluegray-100: #f1f5f9;
$bluegray-200: #e2e8f0;
$bluegray-300: #cbd5e1;
$bluegray-400: #94a3b8;
$bluegray-500: #64748b;
$bluegray-600: #475569;
$bluegray-700: #334155;
$bluegray-800: #1e293b;
$bluegray-900: #0f172a;

$red-50:  #fef2f2;
$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;

$cyan-100: #b2ebf2;
$cyan-200: #80deea;
$cyan-300: #4dd0e1;
$cyan-400: #26c6da;
$cyan-500: #00bcd4;
$cyan-600: #00acc1;
$cyan-700: #0097a7;
$cyan-800: #00838f;
$cyan-900: #006064;

$nav-height: 48px;

$light-code-red:    #d52753;
$light-code-red-br: #AE3B36;
$light-code-green:  #207B1D;
$light-code-yellow: #DEB468;
$light-code-orange: #BB3B13;
$light-code-blue:   #0054F4;
$light-code-pink:   #8A1060;
$light-code-purple: #9C1BD6;
$light-code-violet: #7A82DA;
$light-code-cyan:   #48A8B5;
$light-code-white:  #ABB2BF;
$light-code-grey:   #7F848E;

$dark-code-red:    #E06C75;
$dark-code-green:  #98C379;
$dark-code-yellow: #E5C07B;
$dark-code-blue:   #61AFEF;
$dark-code-pink:   #C878DD;
$dark-code-purple: #992eb4;
$dark-code-cyan:   #56B6C2;

:root {
  --text-bg: #fff;
  --text-fg: #222;
  --text-fg-alt: #{$bluegray-800};
  --shadow: #000;

  --primary: #{$light-code-blue};
  --secondary: #{$light-code-purple};

  --modal-bg: #ccccccaa;

  --warning-bg: #{$yellow-200};

  --code-bg: var(--text-bg);
  --code-fg: var(--text-fg);

  --code-keyword: #{$light-code-orange};
  --code-string:  #{$light-code-red};
  --code-number:  #{$light-code-pink};
  --code-module:  #{$light-code-pink};
  --code-field:   #{$light-code-purple};
  --code-constructor: #{$light-code-green};
  --code-highlight: #F5DEB3;

  --search-selected: #{$bluegray-200};

  --details-summary: #{$cyan-100};
  --details-open:    #{$cyan-200};

  --depgraph-edge: #eee;
  --blockquote-bg: #{$purple-300};
}

.diagram-dark {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-bg: #282C34;
    --text-fg: #bfbfbf;
    --text-fg-alt: #{$bluegray-200};
    --shadow: #{$bluegray-600};

    --primary: #{$dark-code-blue};
    --secondary: #{$dark-code-pink};

    --modal-bg: #282C34aa;

    --warning-bg: #{$red-800};

    --code-keyword:     #{$dark-code-yellow};
    --code-string:      #{$dark-code-red};
    --code-number:      #{$dark-code-green};
    --code-module:      #{$dark-code-cyan};
    --code-field:       #{$dark-code-pink};
    --code-constructor: #{$dark-code-green};
    --code-highlight: #ef444499;

    --search-selected: #{$bluegray-600};

    --details-summary: #{$violet-800};
    --details-open:    #{$violet-900};

    --depgraph-edge: #{$bluegray-600};
    --blockquote-bg: #{$bluegray-600};
  }

  div.warning {
    --shadow: #{$red-900}
  }

  input {
    background-color: $bluegray-700;
    border: 1px solid $bluegray-600;
    color: var(--text-fg);
  }

  body {
    scrollbar-color: #3b4454 #2b2e33;
  }

  .diagram-dark {
    display: block !important;
  }
  .diagram-light {
    display: none !important;
  }
}
