$nav-height: 48px;
$page-padding: 3rem;

// "Desktop layout": navigation bar, content, sidenotes.
$desktop-layout-width: 95rem;

// Distance and width between a "left-bordered block" (think <details>)
// and the actual border.
$left-border-distance: 1em;
$left-border-width: 5px;

// Size of rulers (e.g. <hr>, border of the navbar list)
$ruler-size: 2px;
